-- SQL schema
CREATE DATABASE music;
USE music;

CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    dob DATE NOT NULL,
    gender ENUM('Male', 'Female', 'Other') NOT NULL,
    access ENUM('Free', 'Premium') DEFAULT 'Free',
    email VARCHAR(100) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

CREATE TABLE songs (
    id INTEGER PRIMARY KEY AUTO_INCREMENT,
    title TEXT,
    artist TEXT,
    genre TEXT,
    url TEXT,
    duration TEXT
);

INSERT INTO songs (title, artist, genre, url, duration) VALUES
"songs which you upload"
('', '', '', '', ''),


ALTER TABLE songs
DROP COLUMN likes;

ALTER TABLE songs DROP COLUMN likes ;



CREATE TABLE user_likes (
  user_id INT,
  song_id INT,
  PRIMARY KEY (user_id, song_id),
  FOREIGN KEY (user_id) REFERENCES users(id),
  FOREIGN KEY (song_id) REFERENCES songs(id)
);



DELIMITER //

CREATE PROCEDURE get_user_likes(IN uid INT)
BEGIN
  SELECT s.*, 
         1 AS likedByCurrentUser
  FROM songs s
  INNER JOIN user_likes ul ON s.id = ul.song_id
  WHERE ul.user_id = uid;
END //

DELIMITER ;

CREATE TABLE artists (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255) UNIQUE
);

INSERT INTO artists (name) VALUES "your artist names"

ALTER TABLE songs
ADD COLUMN artist_id INT;

ALTER TABLE songs
ADD CONSTRAINT fk_artist
FOREIGN KEY (artist_id)
REFERENCES artists(id);

-- Temporarily disable safe update mode (only if needed)
SET SQL_SAFE_UPDATES = 0;

-- Update artist_id using artist name match
UPDATE songs
SET artist_id = (
  SELECT id FROM artists
  WHERE artists.name = songs.artist
)
WHERE songs.artist IS NOT NULL;

-- (Optional) Turn safe update mode back on
SET SQL_SAFE_UPDATES = 1;

ALTER TABLE songs
DROP COLUMN artist;


CREATE TABLE played (
  id INT AUTO_INCREMENT PRIMARY KEY,
  user_id INT NOT NULL,
  song_id INT NOT NULL,
  played_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (user_id) REFERENCES users(id),
  FOREIGN KEY (song_id) REFERENCES songs(id)
);












